name: Build and Push Docker Image

on:
  push:
    tags:
      - "v*"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set APP_VERSION from tag
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          echo "APP_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        env:
          DOCKER_BUILDKIT: 1
        run: |
          IMAGE=ghcr.io/${GITHUB_REPOSITORY}/tiny-url

          docker build \
            --build-arg APP_VERSION=$APP_VERSION \
            -t $IMAGE:$APP_VERSION \
            -t $IMAGE:latest \
            .

          docker push $IMAGE:$APP_VERSION
          docker push $IMAGE:latest